@model Dziennik_MVC.Models.Entities.Admins

@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<fieldset>
    <legend>Twoje konto</legend>

    <table>
    
    </table>

    <div class="display">
    <div class="display-label">Login</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Login)
    </div>

    <div class="display-label">Data utworzenia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">Konto</div>
    <div class="display-field">
        @if (Model.isActive){
             @:Aktywne 
        }
        else {
             @:Nieaktywne
        }
        
    </div>

    <div class="display-label">Imie</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">Nazwisko</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">Data urodzenia:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BirthDay)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Uprawnienia</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Roles.RoleName)
    </div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edytuj dane konta", "Edit", new { id=Model.UserID })
</p>
