@model Dziennik_MVC.Models.Entities.Prowadzacy

@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<fieldset>
    <legend>Twoje konto</legend>
    @Html.HiddenFor(model => model.id_prowadzacego)

    @Html.LabelFor(model => model.login)        
    @Html.TextBoxFor(model => model.login, new { disabled = "disabled" })
    @Html.HiddenFor(model => model.login)
    @Html.ValidationMessageFor(model => model.login)
            
    @Html.HiddenFor(model => model.haslo)
           
    @Html.LabelFor(model => model.imie)       
    @Html.TextBoxFor(model => model.imie, new { disabled = "disabled" })
    @Html.ValidationMessageFor(model => model.imie)

    @Html.LabelFor(model => model.nazwisko)       
    @Html.TextBoxFor(model => model.nazwisko, new { disabled = "disabled" })
    @Html.ValidationMessageFor(model => model.nazwisko)

    @Html.LabelFor(model => model.admin)
    @Html.CheckBoxFor(model => model.admin, new { disabled = "disabled" })
    @Html.ValidationMessageFor(model => model.admin)
</fieldset>
<p>
    @Html.ActionLink("Edytuj dane konta", "Edit", new { id=Model.id_prowadzacego })
</p>
