@model IEnumerable<Dziennik_MVC.Models.Entities.Uzytkownicy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Login
        </th>
        <th>
            Haslo
        </th>
        <th>
            isActive
        </th>
        <th>
            Imie
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Email
        </th>
        <th>
            Uprawnienia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Haslo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uprawnienia.Nazwa_uprawnienia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_uzytkownika }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_uzytkownika }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_uzytkownika })
        </td>
    </tr>
}

</table>
