@model Dziennik_MVC.Models.Entities.Prowadzacy

@{
    ViewBag.Title = "Usuwanie prowadzącego";

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm()) {
<fieldset>
    <legend>Usuń prowadzącego</legend>

     <div>
        @Html.LabelFor(model => model.login)
        @Html.TextBoxFor(model => model.login, new { disabled = "disabled" })

        @Html.LabelFor(model => model.imie)
        @Html.TextBoxFor(model => model.imie, new { disabled = "disabled" })

        @Html.LabelFor(model => model.nazwisko)
        @Html.TextBoxFor(model => model.nazwisko, new { disabled = "disabled" })

        @Html.LabelFor(model => model.admin)
        @Html.CheckBoxFor(model => model.admin, new { disabled = "disabled" })
    </div>
    <br/>
    <input type="submit" value="Usuń" /> 
</fieldset>
}
    <p>        
        @Html.ActionLink("powrót do listy prowadzących", "List")
    </p>
