<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Dziennik WWW</title>
    <link href="@Url.Content("~/Content/Site_admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>  
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine&amp;v1" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <h1></h1>
        <div class="slogan">
        @Html.Partial("_LogOnPartial")
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
            @Html.Partial("_MenuPartial")
        </ul>
      </div>
    </div>
    <div id="site_content">  
      <div id="content">
        @if (TempData["message"] != null) {
            <br />
            <div class="Message">@TempData["message"]</div>
            <br />
        }
        @RenderBody()
      </div>
    </div>
  </div>
</body>
</html>
