@model Dziennik_MVC.Models.Entities.Przedmioty

@{
    ViewBag.Title = "Edit";

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edycja przedmiotu</legend>

        @Html.HiddenFor(model => model.id_przedmiotu)
               
        <div class="editor">
            @Html.LabelFor(model => model.nazwa_przedmiotu)
            @Html.EditorFor(model => model.nazwa_przedmiotu)
            @Html.ValidationMessageFor(model => model.nazwa_przedmiotu)
        </div>

        <p>
            <input type="submit" value="Zapisz zmiany" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("powrót do listy przedmiotów", "List")
</div>
