@model Dziennik_MVC.Models.Entities.Semestry

@{
    ViewBag.Title = "Edytuj semestr";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edycja semestru</legend>

        @Html.HiddenFor(model => model.id_semestru)

        <div class="editor">
            @Html.LabelFor(model => model.typ)
            @Html.DropDownListFor(model => model.typ, new[]{
                new SelectListItem() { Text = "letni", Value = "letni" },
                new SelectListItem() { Text = "zimowy", Value = "zimowy" }
            })
            @Html.ValidationMessageFor(model => model.typ)
        </div>

        <div class="editor">
            @Html.LabelFor(model => model.rok)
            @Html.EditorFor(model => model.rok)
            @Html.ValidationMessageFor(model => model.rok)
        </div>
        <p>
            <input type="submit" value="Zapisz zmiany" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Lista semestrów", "List")
</div>
