@model Dziennik_MVC.Models.Entities.Studenci

@{
    ViewBag.Title = "Usuwanie Studenta";

    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm()) {
<fieldset>
    <legend>Usuń studenta</legend>

    <div class="display-label">Login</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.login)
    </div>

    <div class="display-label">Imię</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.imie)
    </div>

    <div class="display-label">Nazwisko</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nazwisko)
    </div>

    <div class="display-label">Nr. Indeksu</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nr_indeksu)
    </div>

    <input type="submit" value="Usuń" /> 
</fieldset>
}
    <p>        
        @Html.ActionLink("powrót do listy studentów", "List")
    </p>
